.cards {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 0;
}

.cards, a {
    padding: 0;
    margin: 0;
}

.myButton {
            background-color: #4CAF50; /* Green background */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px; /* Rounded corners */
        }

        .myButton:hover {
            background-color: #45a049; /* Darker shade of green */
        }
